{% extends "base.html" %}

{% block content %}
    <h1>О нашей компании</h1>

    <!-- встроенные фильтры -->
    <h3>{{ my_desc|title }}</h3>

    {{ my_html|safe }}

    <p>{{ my_number }}</p>
    <p>{{ my_list }}</p>

    <ul>
    {% for item in my_list %}
        {% if item == 12 %}
            <li>{{ forloop.counter }}) {{ item|add:22 }}</li>
        {% elif item == "Abc" %}
            <li>This is not the network</li>
        {% else %}
            <li>{{ forloop.counter }}) {{ item }}</li>
        {% endif %}
        
        
    {% endfor %}
    </ul>

{% endblock content %}